admin==0.0.1
appdirs==1.4.4
asgiref==3.2.10
attrs==20.2.0
cached-property==1.5.2
certifi==2020.6.20
chardet==3.0.4
defusedxml==0.6.0
dj-static==0.0.6
Django==3.1.2
django-jalali==4.0.0
djangorestframework==3.12.1
idna==2.10
importlib-metadata==2.0.0
isodate==0.6.0
jdatetime==3.6.2
kavenegar==1.1.2
lxml==4.5.2
Markdown==3.2.2
mysqlclient==2.0.1
pytz==2020.1
requests==2.24.0
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.15.0
sqlparse==0.3.1
static3==0.7.0
stringutils==0.3.0
urllib3==1.25.10
wfastcgi==3.0.0
zeep==4.0.0
zipp==3.3.0
